{% extends 'main/base.html' %}

{% load tz %}
{% block content %}
    <div> 
        <a href="{% url 'note-create' %}">
            <span style="color: dodgerblue;" class="btn add-btn create-new fas fa-plus-circle"></span>
        </a>
    </div> 
    <div class="container">
        {% if notes %}
            <div class="grid">
                {% for note in notes %}
                    <div class="grid-item card">
                        <div class="content">
                            <div class="flex">
                                <h2 class="title">{{ note.title }}</h2>
                                <p class="date">{{ note.date_created|localtime }}</p>
                            </div>
                            <div class="options">
                                <span>
                                    <a href="{% url 'note-update' note.pk %}">
                                        <span style="color: #3b3b3b;" class="icon fas fa-pen"></span>
                                    </a>
                                    <a href="{% url 'note-delete' note.pk %}">
                                        <span style="color: #ff4040" class="icon far fa-trash-alt"></span>
                                    </a>
                                </span>
                            </div>
                            <p>{{ note.text }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div>
                <h1>Your notes will appear here</h1>
            </div>
        {% endif %}
    </div>
{% endblock %}