{% extends 'main/base.html' %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <h1>New note</h1>
        <form action="" method="post" class="form-control">
            {% csrf_token %}
            <div class="form-group mb-3">
                {{ form|crispy }}
            </div>
            <div class="form-group mb-3">
                <label for="attachments">Attachments:</label><br>
                <input type="file" name="attachments" multiple>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary">
                <a href="/" class="btn btn-danger">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}